OPENAI_API_KEY=ADD_YOUR_KEY_HERE
OPENAI_API_TYPE=openai
OPENAI_COMPLETIONS_ENGINE=text-davinci-003
OPENAI_CHAT_MODEL=gpt-3.5-turbo
HF_VECTOR_MODEL=all-MiniLM-L6-v2
REDIS_HOST=localhost
REDIS_PORT=6379
TOKENIZERS_PARALLELISM=false
